.border {
    border: 1px solid #348721 !important;
    border-radius: 15px;
    padding: 10px;
  }
  
  .pricebreakup {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 13px;
    margin-top: 20px;
    margin-left: 90px;
    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 85%;
      width: 0;
      height: 0;
      border: solid transparent;
    }
    &:after {
      border: 10px solid transparent;
      border-bottom-color: white;
      border-width: 15px;
      margin-left: -15px;
    }
    &:before {
      border: 11px solid transparent;
      border-bottom-color: black;
      border-width: 17px;
      margin-left: -17px;
    }
  }
  
  .accordion-pricebreakup {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 13px;
    margin-left: 10px;
    &:after,
    &:before {
      right: 100%;
      top: 67%;
      border: solid transparent;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
    }
    &:after {
      border: 10px solid transparent;
      border-right-color: white;
      border-width: 15px;
      margin-top: -15px;
    }
    &:before {
      border: 11px solid transparent;
      border-right-color: black;
      border-width: 17px;
      margin-top: -17px;
    }
  }
  
  .overview-panel {
    padding: 7px !important;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e3e9e9;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .back-button {
    margin-right: 3px !important;
  }
  
  @media screen and (min-width: 40em) {
    .margin-pricebreakup{
        margin-top: 5rem !important;
      }
  }
  
  @media screen and (max-width: 40em) {
    .header {
      margin: auto;
      width: 50%;
    }
    .margin-pricebreakup{
      margin-top: 1rem !important;
    }
    .accordion-pricebreakup {
      position: relative;
      border: 1px solid black;
      border-radius: 15px;
      padding: 13px;
      margin-top: 20px;
      &:after,
      &:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 85%;
        width: 0;
        height: 0;
        border: solid transparent;
      }
      &:after {
        border: 10px solid transparent;
        border-bottom-color: white;
        border-width: 15px;
        margin-left: -15px;
      }
      &:before {
        border: 11px solid transparent;
        border-bottom-color: black;
        border-width: 17px;
        margin-left: -17px;
      }
    }
  }
  
  .accordion .accordion-body {
    max-height: inherit !important;
  }
  
  .accordion .accordion-body.row.hidden {
    max-height: 0 !important;
  }